input {
    border: 1px solid #008080;
    width: 350px;
    height: 30px;
    font-size: 10px;
    font-family: 'Sono', sans-serif;
}

*{
    padding: 10;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Sono', sans-serif;


}
.titulo{
    height: 40px;
    margin-bottom: 1rem;
    position: relative;
}



body{
    
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
     



}
.v1{
    margin-bottom: 1rem;
    position: relative;
}


.v2{
    margin-bottom: 1rem;
    position: relative;
}
.flex-container{
    
    height: 30px;
    margin-bottom: 1rem;
    position: relative;
    border: white;

}

.resultado{
    margin-bottom: 1rem;
    position: relative;
    
}